PlantProject.pro.user
PlantProject.pro.user.*
PlantAlgorithms.pro.user
PlantAlgorithms.pro.user.*
PlantApp.pro.user
PlantApp.pro.user.*
build-PlantProject-Desktop_Qt_5_13_0_MinGW_32_bit-Debug
build-PlantAlgorithms-Desktop_Qt_5_13_0_MinGW_32_bit-Debug
build-PlantApp-Desktop_Qt_5_13_0_MinGW_32_bit-Debug
Old_Media
Media
